main{
    background-image:url(assets/gym.jpg);
    height: 100vh;
    background-position: center top;
    background-size: cover;
    
}
.card{

    background: none;
    top: 40%;
    height: 300px;
    font-family: 'Young Serif', serif;


}
.tx{
    font-size: 60px;
}
section{
    padding-top: 50px;
}
.my-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 15%;
}
i{
    font-size: 30px;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	
  z-index:100;
}

.my-float{
	margin-top:16px;
}
@media (min-width: 544px) {  
    .tx {font-size:45px;} /*1rem = 16px*/
  }